# REVIEWS
- `main_legs` and `start_legs` issue 
    - may need to generate the `start_legs` for every trips due to the shuttle trip issue of start_place
- Whether any minimum number of trips needed . Issue with shuttle trip

### SET UP AND IMPORTS

In [22]:
# SET UP AND IMPORTS 
import pandas as pd 
import datetime
import numpy as np 

df = pd.read_excel('dataset/processed/psl.xlsx')
# Adding the Terminal Gap and Duty only for processing 
df['Terminal Gap'] = [0] * len(df)
df['Duty'] = [0] * len(df)

START_PLACE = 'PSL'
#start_legs contain the legs with departure place as start_place
start_legs = df[df['Departure Place'] == START_PLACE].sort_values('Departure Time', ascending=True)
#main_legs contains all other legs 
main_legs = df[df['Departure Place'] != START_PLACE]
MIN_DUTY = 27000 #setting the minimum duty as 7:00 hrs 
# The ideal duty is 7:30 hrs with a 15 min break at the start and end . Then total 8:00 
MAX_DUTY = 30600 # setting the maximum duty as 8:30 hrs
MIN_TERMINAL_GAP = 300
MAX_TERMINAL_GAP = 900

### SUPPORTING FUNCTIONS

In [23]:
#SUPPORTING FUNCTIONS 
def generateTempSet(leg):
    # Creating a copy of the main legs
    temp_set = df[(df['Departure Place'] == leg['Arrival Place']) & (df['Departure Time'] > leg['Arrival Time act'])]
    temp_set = temp_set.sort_values('Departure Time', ascending=True).reset_index(drop=True)
    temp_set['Terminal Gap'] = temp_set['Departure Time'] - leg['Arrival Time act']
    # Sorting and resetting index
    temp_set['Duty'] = leg['Duty'] + temp_set['Running Time'] + temp_set['Terminal Gap']
    # display(temp_set)
    temp_set = temp_set[
        (temp_set['Terminal Gap'] >= MIN_TERMINAL_GAP) & (temp_set['Terminal Gap'] < MAX_TERMINAL_GAP) #|
        #(temp_set['Duty'] >= MIN_DUTY) & (temp_set['Duty'] <= MAX_DUTY)  
    ]
    return temp_set

generateTempSet(start_legs.iloc[0])

def popTempSet(temp_set) -> pd.DataFrame:
    temp_set.drop(0, inplace= True)
    temp_set.reset_index(inplace=True)
    return temp_set.drop('index',axis= 1)


def displayTrip(stack):
    frame = pd.DataFrame()
    for x in stack:
        frame = pd.concat([frame, (x['current_leg'].to_frame()).T], ignore_index=True)
    frame['Terminal Gap'] = frame['Terminal Gap'].shift(-1)
    duty = second=frame['Duty'].iloc[len(frame) - 1]
    hrs, rem = divmod(duty, 3600)
    mint, sec = divmod(rem , 60)
    duty = datetime.time(hour=hrs, minute=mint, second= sec)
    frame = frame.drop('Duty', axis=1)
    return [frame, duty]

# def seconds_to_time(df, columns):
#     df[columns] = df[columns].apply(lambda x: pd.to_datetime(x, unit='s').dt.strftime('%H:%M:%S'))

### ALGORITHM

In [26]:
# ALGORITHM
def generateTrip(start_leg):
    stack = [{"current_leg": start_leg, "temp_set": pd.DataFrame()}] # contain the legs in the trip 
    temp_set = generateTempSet(start_leg)
    stack.append({"current_leg": temp_set.iloc[0], "temp_set": popTempSet(temp_set)})
    while len(stack) > 1 : # and stack[-1]['current_leg']['Arrival Place'] != START_PLACE
        temp_set = generateTempSet(stack[-1]['current_leg'])
        if temp_set.empty :
            stack.pop()
            while(stack[-1]['temp_set'].empty) :
                    stack.pop()
            stack[-1]['current_leg'] = stack[-1]['temp_set'].iloc[0]
            stack[-1]['temp_set'] = popTempSet(stack[-1]['temp_set'])
            # print("Got null 11")
            # print(stack)
            # display(displayTrip(stack))
            continue
        stack.append({"current_leg": temp_set.iloc[0], "temp_set": popTempSet(temp_set)})
        if (top_leg:=stack[-1]['current_leg'])['Arrival Place'] == START_PLACE:
            if MIN_DUTY > top_leg['Duty']:
                # NEED TO ADDRESS SHUTTLE TRIP ISSUE OF START_PLACE
                while(stack[-1]['temp_set'].empty) :
                    stack.pop()
                stack[-1]['current_leg'] = stack[-1]['temp_set'].iloc[0]
                stack[-1]['temp_set'] = popTempSet(stack[-1]['temp_set'])

            elif top_leg['Duty'] > MAX_DUTY:
                stack.pop()
                while(stack[-1]['temp_set'].empty) :
                    stack.pop()
                stack[-1]['current_leg'] = stack[-1]['temp_set'].iloc[0]
                stack[-1]['temp_set'] = popTempSet(stack[-1]['temp_set'])

            else: # MIN_DUTY <= top_leg['Duty'] <= MAX_DUTY 
                #ideal case 
                break;
    result = displayTrip(stack)
    display(result[0])
    print("Steering Duty = ", result[1])

error = 0
for i in range(0, len(start_legs)):
    try:
        generateTrip(start_legs.iloc[i])
    except Exception as e:
        error += 1
        continue

print(f"Total trips = {len(start_legs) - error} ..... Missing {error} routes  ")

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,13200,PSL,NH,KLKV,13500,3.5,300,300
1,124,13800,KLKV,NH,TVM,17700,33.7,3900,600
2,313,18300,TVM,NH-UDA,KNVLA,21900,32.0,3600,600
3,641,22500,KNVLA,UDA,MC,28800,39.0,6300,600
4,341,29400,MC,PTM,NTA,33000,27.7,3600,600
5,200,33600,NTA,NH,TVM,36600,20.7,3000,300
6,376,36900,TVM,NH,KLKV,41400,33.7,4500,300
7,66,41700,KLKV,NH,PSL,42300,3.5,600,None

Steering Duty =  08:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,6,18300,PSL,NH,KLKV,18900,3.5,600,300
1,501,19200,KLKV,KRKM,VLRD,21600,17.0,2400,600
2,542,22200,VLRD,KRKM,KLKV,24600,17.0,2400,600
3,505,25200,KLKV,KRKM,VLRD,27600,17.0,2400,600
4,547,28200,VLRD,KRKM,KLKV,30600,17.0,2400,600
5,189,31200,KLKV,NH,MC,38400,40.0,7200,300
6,649,38700,MC,NTA-MJ-KRKM,PSL,45900,46.0,7200,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,17,18600,PSL,NH,KLKV,18900,3.5,300,300
1,501,19200,KLKV,KRKM,VLRD,21600,17.0,2400,600
2,542,22200,VLRD,KRKM,KLKV,24600,17.0,2400,600
3,505,25200,KLKV,KRKM,VLRD,27600,17.0,2400,600
4,547,28200,VLRD,KRKM,KLKV,30600,17.0,2400,600
5,189,31200,KLKV,NH,MC,38400,40.0,7200,300
6,649,38700,MC,NTA-MJ-KRKM,PSL,45900,46.0,7200,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,7,18900,PSL,NH,KLKV,19500,3.5,600,300
1,135,19800,KLKV,NH,MC,25800,40.0,6000,600
2,327,26400,MC,NH,KLKV,33600,40.0,7200,300
3,586,33900,KLKV,PKDA-AVPM,NTA,38400,30.0,4500,300
4,215,38700,NTA,NH,TVM,41700,20.7,3000,300
5,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
6,69,47100,KLKV,NH,PSL,47700,3.5,600,None

Steering Duty =  07:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,619,19200,PSL,KULPM,URB,20700,9.0,1500,600
1,620,21300,URB,KLPM-KLKV-NH,MC,28200,48.0,6900,600
2,338,28800,MC,PTM,NTA,33000,27.7,4200,600
3,200,33600,NTA,NH,TVM,36600,20.7,3000,600
4,378,37200,TVM,NH,NTA,40200,20.7,3000,600
5,221,40800,NTA,NH,TVM,43800,20.7,3000,600
6,609,44400,TVM,CVR,KLKV,49800,35.7,5400,300
7,87,50100,KLKV,NH,PSL,50700,3.5,600,None

Steering Duty =  08:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,598,19800,PSL,AYRA,CHVLA,20700,6.0,900,600
1,594,21300,CHVLA,AYRA,TVM,26700,37.0,5400,300
2,330,27000,TVM,NH,NTA,30000,20.7,3000,300
3,183,30300,NTA,KNMLA,MC,35100,29.0,4800,600
4,367,35700,MC,KNMLA,NTA,40500,29.5,4800,300
5,221,40800,NTA,NH,TVM,43800,20.7,3000,600
6,609,44400,TVM,CVR,KLKV,49800,35.7,5400,300
7,87,50100,KLKV,NH,PSL,50700,3.5,600,None

Steering Duty =  08:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,585,19800,PSL,AVPM,MC,28800,58.0,9000,600
1,336,29400,MC,NH,KLKV,36000,40.0,6600,600
2,665,36600,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,44700,55.0,8100,300
3,347,45000,MC,NH,KLKV,51000,40.0,6000,300
4,532,51300,KLKV,KRKM,VLRD,54000,17.0,2700,600
5,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,679,20400,PSL,KLKV-PVR-VZM-BYPASS,TVM,28200,48.5,7800,600
1,612,28800,TVM,UDA,KDGRA,33300,31.0,4500,600
2,615,33900,KDGRA,UDA,MC,39600,38.0,5700,600
3,394,40200,MC,NH,KLKV,46200,40.0,6000,600
4,70,46800,KLKV,NH,PSL,47400,3.5,600,300
5,54,47700,PSL,NH,KLKV,48300,3.5,600,600
6,88,48900,KLKV,NH,PSL,49500,3.5,600,600
7,58,50100,PSL,NH,KLKV,50700,3.5,600,600
8,532,51300,KLKV,KRKM,VLRD,54000,17.0,2700,600
9,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,11,20700,PSL,NH,KLKV,21300,3.5,600,300
1,140,21600,KLKV,NH,MC,27600,40.0,6000,600
2,333,28200,MC,NH,KLKV,34800,40.0,6600,600
3,512,35400,KLKV,KRKM,VLRD,37800,17.0,2400,600
4,558,38400,VLRD,KRKM,KLKV,40800,17.0,2400,600
5,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
6,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,600
7,83,47400,KLKV,NH,PSL,48000,3.5,600,600
8,59,48600,PSL,NH,KLKV,48900,3.5,300,300
9,73,49200,KLKV,NH,PSL,49800,3.5,600,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,12,20700,PSL,NH,KLKV,21300,3.5,600,300
1,140,21600,KLKV,NH,MC,27600,40.0,6000,600
2,333,28200,MC,NH,KLKV,34800,40.0,6600,600
3,512,35400,KLKV,KRKM,VLRD,37800,17.0,2400,600
4,558,38400,VLRD,KRKM,KLKV,40800,17.0,2400,600
5,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
6,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,600
7,83,47400,KLKV,NH,PSL,48000,3.5,600,600
8,59,48600,PSL,NH,KLKV,48900,3.5,300,300
9,73,49200,KLKV,NH,PSL,49800,3.5,600,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,14,21000,PSL,NH,KLKV,21600,3.5,600,600
1,503,22200,KLKV,KRKM,VLRD,24600,17.0,2400,600
2,544,25200,VLRD,KRKM,KLKV,27600,17.0,2400,600
3,507,28200,KLKV,KRKM,VLRD,30600,17.0,2400,600
4,550,31200,VLRD,KRKM,KLKV,33600,17.0,2400,300
5,586,33900,KLKV,PKDA-AVPM,NTA,38400,30.0,4500,300
6,215,38700,NTA,NH,TVM,41700,20.7,3000,300
7,400,42000,TVM,NH,KLKV,46800,33.7,4800,600
8,83,47400,KLKV,NH,PSL,48000,3.5,600,600
9,59,48600,PSL,NH,KLKV,48900,3.5,300,300
10,73,49200,KLKV,NH,PSL,49800,3.5,600,None

Steering Duty =  07:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,142,21300,PSL,KLKV-NH,TVM,27300,37.2,6000,300
1,673,27600,TVM,MYL-KTDA,KLKV,35400,57.0,7800,600
2,209,36000,KLKV,NH,MC,42000,40.0,6000,600
3,407,42600,MC,NH,KLKV,48600,40.0,6000,600
4,73,49200,KLKV,NH,PSL,49800,3.5,600,300
5,58,50100,PSL,NH,KLKV,50700,3.5,600,600
6,532,51300,KLKV,KRKM,VLRD,54000,17.0,2700,600
7,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,611,21600,PSL,UDA,KDGRA,22800,8.0,1200,600
1,614,23400,KDGRA,UDA,TVM,28200,31.0,4800,600
2,612,28800,TVM,UDA,KDGRA,33300,31.0,4500,600
3,615,33900,KDGRA,UDA,MC,39600,38.0,5700,600
4,394,40200,MC,NH,KLKV,46200,40.0,6000,600
5,70,46800,KLKV,NH,PSL,47400,3.5,600,300
6,54,47700,PSL,NH,KLKV,48300,3.5,600,600
7,88,48900,KLKV,NH,PSL,49500,3.5,600,600
8,58,50100,PSL,NH,KLKV,50700,3.5,600,300
9,81,51000,KLKV,NH,PSL,51600,3.5,600,None

Steering Duty =  08:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,18,21960,PSL,NH,KLKV,22560,3.5,600,540
1,147,23100,KLKV,NH,MC,28800,40.0,5700,600
2,336,29400,MC,NH,KLKV,36000,40.0,6600,600
3,665,36600,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,44700,55.0,8100,300
4,347,45000,MC,NH,KLKV,51000,40.0,6000,300
5,91,51300,KLKV,NH,PSL,51900,3.5,600,None

Steering Duty =  08:09:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,16,22200,PSL,NH,KLKV,22800,3.5,600,300
1,147,23100,KLKV,NH,MC,28800,40.0,5700,600
2,336,29400,MC,NH,KLKV,36000,40.0,6600,600
3,665,36600,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,44700,55.0,8100,300
4,347,45000,MC,NH,KLKV,51000,40.0,6000,300
5,91,51300,KLKV,NH,PSL,51900,3.5,600,None

Steering Duty =  08:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,515,22800,PSL,KLKV-KRKM,VLRD,25800,20.5,3000,300
1,545,26100,VLRD,KRKM,KLKV,28500,17.0,2400,600
2,176,29100,KLKV,NH,TVM,35100,33.7,6000,300
3,349,35400,TVM,NH,KLKV,40200,33.7,4800,300
4,678,40500,KLKV,PVR-VZM-TVM-NH-KLKV,PSL,53100,81.5,12600,None

Steering Duty =  07:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,20,22800,PSL,NH,KLKV,23100,3.5,300,300
1,633,23400,KLKV,PLKDA-PZKNU,VLKA,25200,13.0,1800,600
2,637,25800,VLKA,PLKDA,KLKV,27600,13.0,1800,600
3,507,28200,KLKV,KRKM,VLRD,30600,17.0,2400,600
4,550,31200,VLRD,KRKM,KLKV,33600,17.0,2400,300
5,586,33900,KLKV,PKDA-AVPM,NTA,38400,30.0,4500,300
6,215,38700,NTA,NH,TVM,41700,20.7,3000,300
7,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
8,524,47100,KLKV,KRKM,VLRD,49500,17.0,2400,600
9,568,50100,VLRD,KRKM,KLKV,52500,17.0,2400,300
10,78,52800,KLKV,NH,PSL,53400,3.5,600,None

Steering Duty =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,10,23400,PSL,NH,KLKV,24000,3.5,600,600
1,127,24600,KLKV,NH,TVM,29400,33.7,4800,600
2,320,30000,TVM,NH,NTA,32700,20.7,2700,300
3,197,33000,NTA,NH,TVM,36000,20.7,3000,300
4,339,36300,TVM,NH,KLKV,41100,33.7,4800,300
5,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
6,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
7,524,47100,KLKV,KRKM,VLRD,49500,17.0,2400,600
8,568,50100,VLRD,KRKM,KLKV,52500,17.0,2400,300
9,78,52800,KLKV,NH,PSL,53400,3.5,600,None

Steering Duty =  08:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,25,23640,PSL,NH,KLKV,24240,3.5,600,360
1,127,24600,KLKV,NH,TVM,29400,33.7,4800,600
2,320,30000,TVM,NH,NTA,32700,20.7,2700,300
3,197,33000,NTA,NH,TVM,36000,20.7,3000,300
4,339,36300,TVM,NH,KLKV,41100,33.7,4800,300
5,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
6,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
7,524,47100,KLKV,KRKM,VLRD,49500,17.0,2400,600
8,568,50100,VLRD,KRKM,KLKV,52500,17.0,2400,300
9,78,52800,KLKV,NH,PSL,53400,3.5,600,None

Steering Duty =  08:06:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,602,24900,PSL,CHVLA-NR-CVR,TVM,30600,38.0,5700,600
1,607,31200,TVM,CVR,KLKV,36600,35.7,5400,300
2,201,36900,KLKV,NH,TVM,41700,33.7,4800,300
3,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
4,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
5,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
6,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
7,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,35,26400,PSL,NH,KLKV,27000,3.5,600,600
1,165,27600,KLKV,NH,MC,33600,40.0,6000,300
2,361,33900,MC,PTM,NTA,38100,27.7,4200,600
3,215,38700,NTA,NH,TVM,41700,20.7,3000,300
4,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
5,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
6,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
7,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
8,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,36,26700,PSL,NH,KLKV,27300,3.5,600,300
1,165,27600,KLKV,NH,MC,33600,40.0,6000,300
2,361,33900,MC,PTM,NTA,38100,27.7,4200,600
3,215,38700,NTA,NH,TVM,41700,20.7,3000,300
4,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
5,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
6,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
7,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
8,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,37,27300,PSL,NH,KLKV,27900,3.5,600,300
1,507,28200,KLKV,KRKM,VLRD,30600,17.0,2400,600
2,550,31200,VLRD,KRKM,KLKV,33600,17.0,2400,300
3,586,33900,KLKV,PKDA-AVPM,NTA,38400,30.0,4500,300
4,215,38700,NTA,NH,TVM,41700,20.7,3000,300
5,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
6,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
7,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
8,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
9,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,711,27900,PSL,KLKV-NLMD-KTKM-NRNI-KRKM-DVPM-NH,TVM,35100,47.0,7200,300
1,349,35400,TVM,NH,KLKV,40200,33.7,4800,600
2,156,40800,KLKV,NH,TVM,45300,33.7,4500,300
3,659,45600,TVM,VZM-PVR,KLKV,52200,45.0,6600,300
4,270,52500,KLKV,NH,TVM,57000,33.7,4500,300
5,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
6,75,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,592,28200,PSL,PDTM-AVKRA,TVM,36000,51.0,7800,300
1,372,36300,TVM,NH,NTA,39600,20.7,3300,300
2,218,39900,NTA,NH,TVM,42900,20.7,3000,300
3,457,43200,TVM,NH,KLKV,48000,33.7,4800,300
4,86,48300,KLKV,NH,PSL,48900,3.5,600,300
5,57,49200,PSL,NH,KLKV,49800,3.5,600,600
6,526,50400,KLKV,KRKM,VLRD,52800,17.0,2400,600
7,570,53400,VLRD,KRKM,KLKV,56400,17.0,3000,600
8,534,57000,KLKV,KRKM,VLRD,59400,17.0,2400,600
9,581,60000,VLRD,KRKM-KLKV,PSL,63000,20.5,3000,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,2,28500,PSL,NH,KLKV,29100,3.5,600,300
1,508,29400,KLKV,KRKM,VLRD,31800,17.0,2400,600
2,551,32400,VLRD,KRKM,KLKV,34800,17.0,2400,600
3,512,35400,KLKV,KRKM,VLRD,37800,17.0,2400,600
4,558,38400,VLRD,KRKM,KLKV,40800,17.0,2400,600
5,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
6,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
7,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
8,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
9,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
10,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,34,28800,PSL,NH,KLKV,29100,3.5,300,300
1,508,29400,KLKV,KRKM,VLRD,31800,17.0,2400,600
2,551,32400,VLRD,KRKM,KLKV,34800,17.0,2400,600
3,512,35400,KLKV,KRKM,VLRD,37800,17.0,2400,600
4,558,38400,VLRD,KRKM,KLKV,40800,17.0,2400,600
5,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
6,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
7,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
8,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
9,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
10,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,696,29400,PSL,KLKV-PZKNU-KJKM,TVM,35700,42.0,6300,600
1,372,36300,TVM,NH,NTA,39600,20.7,3300,300
2,218,39900,NTA,NH,TVM,42900,20.7,3000,300
3,457,43200,TVM,NH,KLKV,48000,33.7,4800,300
4,86,48300,KLKV,NH,PSL,48900,3.5,600,300
5,57,49200,PSL,NH,KLKV,49800,3.5,600,600
6,526,50400,KLKV,KRKM,VLRD,52800,17.0,2400,600
7,570,53400,VLRD,KRKM,KLKV,56400,17.0,3000,600
8,534,57000,KLKV,KRKM,VLRD,59400,17.0,2400,600
9,581,60000,VLRD,KRKM-KLKV,PSL,63000,20.5,3000,None

Steering Duty =  07:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,184,29400,PSL,KLKV-CVR,TVM,36300,39.2,6900,600
1,376,36900,TVM,NH,KLKV,41400,33.7,4500,300
2,153,41700,KLKV,NH,TVM,46500,33.7,4800,300
3,412,46800,TVM,NH,NTA,49800,20.7,3000,300
4,244,50100,NTA,PTM,MC,54300,27.7,4200,300
5,390,54600,MC,NH,KLKV,60600,40.0,6000,600
6,529,61200,KLKV,KRKM,VLRD,63600,17.0,2400,600
7,572,64200,VLRD,KRKM,PSL,66600,17.0,2400,None

Steering Duty =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,706,30000,PSL,KLKV-NH,TVM,35700,37.2,5700,600
1,372,36300,TVM,NH,NTA,39600,20.7,3300,300
2,218,39900,NTA,NH,TVM,42900,20.7,3000,300
3,457,43200,TVM,NH,KLKV,48000,33.7,4800,300
4,86,48300,KLKV,NH,PSL,48900,3.5,600,300
5,57,49200,PSL,NH,KLKV,49800,3.5,600,600
6,526,50400,KLKV,KRKM,VLRD,52800,17.0,2400,600
7,570,53400,VLRD,KRKM,KLKV,56400,17.0,3000,600
8,534,57000,KLKV,KRKM,VLRD,59400,17.0,2400,600
9,581,60000,VLRD,KRKM-KLKV,PSL,63000,20.5,3000,None

Steering Duty =  07:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,509,30600,PSL,KRKM,VLRD,33600,17.0,3000,600
1,552,34200,VLRD,KRKM,KLKV,36600,17.0,2400,300
2,201,36900,KLKV,NH,TVM,41700,33.7,4800,300
3,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
4,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
5,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
6,275,51600,KLKV,NH,TVM,56700,33.7,5100,600
7,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
8,75,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  08:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,186,30900,PSL,KLKV-NH,TVM,36600,37.2,5700,300
1,376,36900,TVM,NH,KLKV,41400,33.7,4500,300
2,153,41700,KLKV,NH,TVM,46500,33.7,4800,300
3,412,46800,TVM,NH,NTA,49800,20.7,3000,300
4,244,50100,NTA,PTM,MC,54300,27.7,4200,300
5,390,54600,MC,NH,KLKV,60600,40.0,6000,600
6,529,61200,KLKV,KRKM,VLRD,63600,17.0,2400,600
7,572,64200,VLRD,KRKM,PSL,66600,17.0,2400,None

Steering Duty =  08:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,47,34800,PSL,NH,KLKV,35400,3.5,600,600
1,209,36000,KLKV,NH,MC,42000,40.0,6000,600
2,407,42600,MC,NH,KLKV,48600,40.0,6000,600
3,73,49200,KLKV,NH,PSL,49800,3.5,600,300
4,58,50100,PSL,NH,KLKV,50700,3.5,600,600
5,91,51300,KLKV,NH,PSL,51900,3.5,600,300
6,527,52200,PSL,KRKM,VLRD,54600,17.0,2400,600
7,571,55200,VLRD,KRKM,KLKV,57600,17.0,2400,300
8,539,57900,KLKV,KRKM,VLRD,60300,17.0,2400,600
9,554,60900,VLRD,KRKM-KLKV,PSL,63900,20.5,3000,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,48,35400,PSL,NH,KLKV,36000,3.5,600,300
1,695,36300,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,48900,81.5,12600,300
2,57,49200,PSL,NH,KLKV,49800,3.5,600,600
3,526,50400,KLKV,KRKM,VLRD,52800,17.0,2400,600
4,570,53400,VLRD,KRKM,KLKV,56400,17.0,3000,600
5,534,57000,KLKV,KRKM,VLRD,59400,17.0,2400,600
6,581,60000,VLRD,KRKM-KLKV,PSL,63000,20.5,3000,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,49,36000,PSL,NH,KLKV,36600,3.5,600,300
1,201,36900,KLKV,NH,TVM,41700,33.7,4800,300
2,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
3,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
4,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
5,275,51600,KLKV,NH,TVM,56700,33.7,5100,600
6,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
7,75,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,45,36000,PSL,NH,KLKV,36300,3.5,300,300
1,665,36600,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,44700,55.0,8100,300
2,347,45000,MC,NH,KLKV,51000,40.0,6000,300
3,85,51300,KLKV,NH,PSL,51600,3.5,300,300
4,64,51900,PSL,NH,KLKV,52200,3.5,300,300
5,270,52500,KLKV,NH,TVM,57000,33.7,4500,300
6,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
7,75,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  07:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,29,36600,PSL,NH,KLKV,37200,3.5,600,300
1,214,37500,KLKV,NH,MC,43800,40.0,6300,600
2,405,44400,MC,NH,KLKV,50700,40.0,6300,600
3,91,51300,KLKV,NH,PSL,51900,3.5,600,600
4,62,52500,PSL,NH,KLKV,53100,3.5,600,300
5,150,53400,KLKV,NH,TVM,58200,33.7,4800,600
6,707,58800,TVM,NH-KLKV,PSL,64200,37.2,5400,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,50,36600,PSL,NH,KLKV,37200,3.5,600,300
1,214,37500,KLKV,NH,MC,43800,40.0,6300,600
2,405,44400,MC,NH,KLKV,50700,40.0,6300,600
3,91,51300,KLKV,NH,PSL,51900,3.5,600,600
4,62,52500,PSL,NH,KLKV,53100,3.5,600,300
5,150,53400,KLKV,NH,TVM,58200,33.7,4800,600
6,707,58800,TVM,NH-KLKV,PSL,64200,37.2,5400,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,51,37200,PSL,NH,KLKV,37800,3.5,600,600
1,180,38400,KLKV,NH,MC,44400,40.0,6000,600
2,347,45000,MC,NH,KLKV,51000,40.0,6000,300
3,85,51300,KLKV,NH,PSL,51600,3.5,300,300
4,64,51900,PSL,NH,KLKV,52200,3.5,300,300
5,270,52500,KLKV,NH,TVM,57000,33.7,4500,300
6,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
7,536,63000,KLKV,KRKM,VLRD,65400,17.0,2400,600
8,579,66000,VLRD,KRKM,PSL,68400,17.0,2400,None

Steering Duty =  08:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,52,38400,PSL,NH,KLKV,39000,3.5,600,600
1,219,39600,KLKV,NH,MC,45600,40.0,6000,600
2,411,46200,MC,NH,KLKV,52200,40.0,6000,300
3,270,52500,KLKV,NH,TVM,57000,33.7,4500,300
4,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
5,536,63000,KLKV,KRKM,VLRD,65400,17.0,2400,600
6,579,66000,VLRD,KRKM,PSL,68400,17.0,2400,None

Steering Duty =  08:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,46,40200,PSL,NH,KLKV,40800,3.5,600,600
1,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
2,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
3,635,47100,KLKV,PLKDA-PZKNU,VLKA,48900,13.0,1800,600
4,639,49500,VLKA,PLKDA,KLKV,51300,13.0,1800,300
5,275,51600,KLKV,NH,TVM,56700,33.7,5100,600
6,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
7,536,63000,KLKV,KRKM,VLRD,65400,17.0,2400,600
8,579,66000,VLRD,KRKM,PSL,68400,17.0,2400,None

Steering Duty =  07:40:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,700,41400,PSL,KLKV-KRKM,VLRD,44700,20.5,3300,600
1,701,45300,VLRD,KRKM,KLKV,47700,17.0,2400,600
2,702,48300,KLKV,PVR-VZM-TVM-NH,KLKV,60000,78.0,11700,300
3,535,60300,KLKV,KRKM,VLRD,62700,17.0,2400,600
4,578,63300,VLRD,KRKM,KLKV,65700,17.0,2400,600
5,538,66300,KLKV,KRKM,VLRD,68700,17.0,2400,600
6,580,69300,VLRD,KRKM,PSL,71700,17.0,2400,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,43,44700,PSL,NH,KLKV,45300,3.5,600,600
1,68,45900,KLKV,NH,PSL,46500,3.5,600,300
2,44,46800,PSL,NH,KLKV,47400,3.5,600,600
3,93,48000,KLKV,NH,PSL,48600,3.5,600,600
4,57,49200,PSL,NH,KLKV,49800,3.5,600,600
5,246,50400,KLKV,NH,MC,56400,40.0,6000,600
6,440,57000,MC,NH,KLKV,63300,40.0,6300,300
7,288,63600,KLKV,NH,TVM,69000,33.7,5400,600
8,479,69600,TVM,NH,KLKV,75000,33.7,5400,300
9,116,75300,KLKV,NH,PSL,75900,3.5,600,None

Steering Duty =  08:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,712,45600,PSL,KRKM-MJ-TVM,MC,52800,46.0,7200,600
1,430,53400,MC,PTM,NTA,57600,27.7,4200,600
2,269,58200,NTA,NH,TVM,61200,20.7,3000,300
3,722,61500,TVM,NH-KLKV-PVR-VZM-BYPASS,TVM,73800,88.7,12300,600
4,723,74400,TVM,NH-KLKV,PSL,79800,37.2,5400,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,5,45900,PSL,NH,KLKV,46500,3.5,600,300
1,70,46800,KLKV,NH,PSL,47400,3.5,600,300
2,54,47700,PSL,NH,KLKV,48300,3.5,600,300
3,241,48600,KLKV,NH,MC,54600,40.0,6000,600
4,435,55200,MC,NH,KLKV,61800,40.0,6600,600
5,282,62400,KLKV,NH,MC,68400,40.0,6000,600
6,484,69000,MC,NH-KLKV,PSL,76200,43.5,7200,None

Steering Duty =  08:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,53,46800,PSL,NH,KLKV,47400,3.5,600,600
1,93,48000,KLKV,NH,PSL,48600,3.5,600,600
2,57,49200,PSL,NH,KLKV,49800,3.5,600,600
3,246,50400,KLKV,NH,MC,56400,40.0,6000,600
4,440,57000,MC,NH,KLKV,63300,40.0,6300,300
5,288,63600,KLKV,NH,TVM,69000,33.7,5400,600
6,479,69600,TVM,NH,KLKV,75000,33.7,5400,300
7,116,75300,KLKV,NH,PSL,75900,3.5,600,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,44,46800,PSL,NH,KLKV,47400,3.5,600,600
1,93,48000,KLKV,NH,PSL,48600,3.5,600,600
2,57,49200,PSL,NH,KLKV,49800,3.5,600,600
3,246,50400,KLKV,NH,MC,56400,40.0,6000,600
4,440,57000,MC,NH,KLKV,63300,40.0,6300,300
5,288,63600,KLKV,NH,TVM,69000,33.7,5400,600
6,479,69600,TVM,NH,KLKV,75000,33.7,5400,300
7,116,75300,KLKV,NH,PSL,75900,3.5,600,None

Steering Duty =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,54,47700,PSL,NH,KLKV,48300,3.5,600,300
1,241,48600,KLKV,NH,MC,54600,40.0,6000,600
2,435,55200,MC,NH,KLKV,61800,40.0,6600,600
3,282,62400,KLKV,NH,MC,68400,40.0,6000,600
4,484,69000,MC,NH-KLKV,PSL,76200,43.5,7200,None

Steering Duty =  07:45:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,61,48000,PSL,NH,KLKV,48600,3.5,600,300
1,88,48900,KLKV,NH,PSL,49500,3.5,600,600
2,58,50100,PSL,NH,KLKV,50700,3.5,600,600
3,91,51300,KLKV,NH,PSL,51900,3.5,600,600
4,62,52500,PSL,NH,KLKV,53100,3.5,600,600
5,254,53700,KLKV,NH,CSTN,61200,42.0,7500,600
6,453,61800,CSTN,NH,KLKV,69600,42.0,7800,600
7,540,70200,KLKV,KRKM,VLRD,72600,17.0,2400,600
8,582,73200,VLRD,KRKM,KLKV,75600,17.0,2400,300
9,115,75900,KLKV,NH,PSL,76500,3.5,600,None

Steering Duty =  07:45:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,146,48000,PSL,KLKV-NH,TVM,54000,37.2,6000,300
1,717,54300,TVM,NH,KLKV,58800,33.7,4500,600
2,628,59400,KLKV,PDTM,KTDA,64200,32.0,4800,600
3,632,64800,KTDA,PDTM-KRKM,KLKV,69600,32.0,4800,600
4,309,70200,KLKV,NH,TVM,75000,33.7,4800,600
5,498,75600,TVM,NH,KLKV,80100,33.7,4500,300
6,112,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,59,48600,PSL,NH,KLKV,48900,3.5,300,300
1,73,49200,KLKV,NH,PSL,49800,3.5,600,300
2,58,50100,PSL,NH,KLKV,50700,3.5,600,600
3,91,51300,KLKV,NH,PSL,51900,3.5,600,600
4,62,52500,PSL,NH,KLKV,53100,3.5,600,600
5,254,53700,KLKV,NH,CSTN,61200,42.0,7500,600
6,453,61800,CSTN,NH,KLKV,69600,42.0,7800,600
7,540,70200,KLKV,KRKM,VLRD,72600,17.0,2400,600
8,582,73200,VLRD,KRKM,KLKV,75600,17.0,2400,300
9,115,75900,KLKV,NH,PSL,76500,3.5,600,None

Steering Duty =  07:40:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,58,50100,PSL,NH,KLKV,50700,3.5,600,600
1,91,51300,KLKV,NH,PSL,51900,3.5,600,600
2,62,52500,PSL,NH,KLKV,53100,3.5,600,600
3,254,53700,KLKV,NH,CSTN,61200,42.0,7500,600
4,453,61800,CSTN,NH,KLKV,69600,42.0,7800,600
5,309,70200,KLKV,NH,TVM,75000,33.7,4800,600
6,498,75600,TVM,NH,KLKV,80100,33.7,4500,300
7,112,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,527,52200,PSL,KRKM,VLRD,54600,17.0,2400,600
1,571,55200,VLRD,KRKM,KLKV,57600,17.0,2400,300
2,268,57900,KLKV,CVR,MC,63900,42.7,6000,600
3,464,64500,MC,NH,KLKV,70800,40.0,6300,600
4,304,71400,KLKV,NH,TVM,76200,33.7,4800,600
5,494,76800,TVM,NH,KLKV,81600,33.7,4800,600
6,121,82200,KLKV,NH,PSL,82800,3.5,600,None

Steering Duty =  07:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,62,52500,PSL,NH,KLKV,53100,3.5,600,600
1,254,53700,KLKV,NH,CSTN,61200,42.0,7500,600
2,453,61800,CSTN,NH,KLKV,69600,42.0,7800,600
3,309,70200,KLKV,NH,TVM,75000,33.7,4800,600
4,498,75600,TVM,NH,KLKV,80100,33.7,4500,300
5,112,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  07:45:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,63,52800,PSL,NH,KLKV,53400,3.5,600,300
1,254,53700,KLKV,NH,CSTN,61200,42.0,7500,600
2,453,61800,CSTN,NH,KLKV,69600,42.0,7800,600
3,309,70200,KLKV,NH,TVM,75000,33.7,4800,600
4,498,75600,TVM,NH,KLKV,80100,33.7,4500,300
5,112,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  07:40:00
Total trips = 55 ..... Missing 49 routes

### MAIN PART

In [25]:
# MAIN