# TO DO 
- Formulate a general format for the data set 
- Update the preprocessing properly 
- A trip is a class 
- A schedule is also a class which hold the instances of trip 


Schedule (df, start_leg, no_of_trips, etc..)

Trip (steering_duty, spread_over, ...)

### SET UP AND IMPORTS

In [223]:
# SET UP AND IMPORTS 
import pandas as pd 
import datetime
import time

df = pd.read_excel('dataset/processed/psl.xlsx').reset_index(drop=True)
 
# Adding the Terminal Gap and Duty only for processing 
df['Terminal Gap'] = [0] * len(df)
df['Duty'] = [0] * len(df)

START_PLACE = 'PSL'
#start_legs contain the legs with departure place as start_place
start_legs = df[df['Departure Place'] == START_PLACE].sort_values('Departure Time', ascending=True)
start_legs.reset_index(drop=True,inplace=True)
# setting the initial running time of start legs as its running time itself
start_legs['Duty'] = start_legs['Running Time'] 
#main_legs contains all other legs 
# main_legs = df[df['Departure Place'] != START_PLACE]
# MIN_DUTY = 27000 #setting the minimum duty as 7:00 hrs 
MIN_DUTY = 7 * 3600 #setting the minimum duty as 7:00 hrs + 15min sign in  and 15 min sign out = 07:30 hrs
# The ideal duty is 7:30 hrs with a 15 min break at the start and end . Then total 8:00 
# MAX_DUTY = 30600 # setting the maximum duty as 8:30 hrs
MAX_DUTY = 9 * 3600  # setting the maximum duty as 09:00 hrs + 15min sign in  and 15 min sign out = 09:30 hrs
MAX_SPREAD_OVER = 43200 # setting maximum spread over to 12 hrs 

MIN_TERMINAL_GAP = 300
MAX_TERMINAL_GAP = 900

BREAK = 1800 # break time of 30 min to avoid 5hrs continuous working
IS_BREAK = False # setting the break status as false by default 

MAX_SPLIT = 3600 # Setting the maximum split time as 60 min 
MIN_TEMPSET_SIZE = 2 # define the minimum number of legs in a temp_set



# FOR THE PURPOSE OF MEASURING THE PERFORMANCE 
success = 0 # Not necessary , just to count the number of start legs taken 
trips_count = 0 # count the number of trips 
exe_generateTempSet  = 0
exe_popTempSet  = 0
start_legs

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap,Duty
0,1,13200,PSL,NH,KLKV,13500,3.5,300,0,300
1,15,15600,PSL,NH,KLKV,15900,3.5,300,0,300
2,4,16200,PSL,NH,KLKV,16800,3.5,600,0,600
3,645,18000,PSL,KRKM-MJ,TVM,23700,39.0,5700,0,5700
4,693,18000,PSL,MKD-KLD-PLKDA-NTA-TVM-MC-SKRM-CHPY,PCD,27900,66.5,9900,0,9900
...,...,...,...,...,...,...,...,...,...,...
99,62,52500,PSL,NH,KLKV,53100,3.5,600,0,600
100,63,52800,PSL,NH,KLKV,53400,3.5,600,0,600
101,55,54300,PSL,NH,KLKV,54900,3.5,600,0,600
102,65,55200,PSL,NH,KLKV,55800,3.5,600,0,600
103,531,56400,PSL,KRKM,VLRD,58800,17.0,2400,0,2400

### SUPPORTING FUNCTIONS

#### General Functions

In [224]:
def secToTime(seconds):
    hrs, rem = divmod(seconds, 3600)
    mint, sec = divmod(rem , 60)
    return datetime.time(hour=hrs, minute=mint, second= sec)

#### Generate Tempset 
- Below function creates the temset for a particular leg in the stack . It checks for the needed criteria and then creates the set of legs that are possibly gives us a feasible solution

In [225]:
# SUPPORTING FUNCTIONS
def generateTempSet(leg) -> pd.DataFrame:
    # FN LOGIC IS NOT CORRECT , NEED TO CREATE THE TEMP SET ONLY WITH THE CRITERIA
    # SORTING THEM AFTER CREATING THE ENTIRE TEMPSET IS NOT OPTIMAL
    global exe_generateTempSet
    x = time.time()

    # Creating a copy of the main legs.Can be limited with steering duty remaining 
    temp_set_df = df[(df['Departure Place'] == leg['Arrival Place'])
                  & (df['Departure Time'] > leg['Arrival Time act'])]
    temp_set_df = temp_set_df.sort_values(
        'Departure Time', ascending=True).reset_index(drop=True)
    temp_set_df['Terminal Gap'] = temp_set_df['Departure Time'] - leg['Arrival Time act']
    # Sorting and resetting index
    # '''BELOW LINE MAY BE NOT NECESSARY'''
    # display(temp_set)
    temp_set = pd.DataFrame()
# THERE ARE CHANCES THAT THE TEMP SET MAY BE EMPTY , SO WE ARE TRYING FOR 
#  THE NEXT LEVEL SEARCHING
    terminal_gap = MAX_TERMINAL_GAP
    ADD_ON = 900 # 15 min
    # NEED TO OPTIMIZE BELOW LOOP AS EVERY TIME IT LOOPS THROUGH THE ENTIRE LEGS TILL
    # THE SPECIFIED TERMINAL GAP , CAN USE EXTEND OR CONCAT TO ITERATIVELY ADDING UP THE 
    # TEMP SET  
    while len(temp_set) < MIN_TEMPSET_SIZE and terminal_gap < MAX_SPLIT: # 1 hr split
        temp_set = temp_set_df[
            (temp_set_df['Terminal Gap'] >= MIN_TERMINAL_GAP) & (
                temp_set_df['Terminal Gap'] < terminal_gap)  # |
            # (temp_set['Duty'] >= MIN_DUTY) & (temp_set['Duty'] <= MAX_DUTY)
        ]
        terminal_gap += ADD_ON

        # print(f"Type of gap = {type(temp_set['Terminal Gap'][0])}")
    # temp_set['Duty'] = leg['Duty'] + temp_set['Running Time'] + temp_set['Terminal Gap']
    temp_set.loc[:, 'Duty'] = leg['Duty'] + temp_set['Running Time'] # should bee run for all legs
    temp_set.loc[temp_set['Terminal Gap'] < MAX_TERMINAL_GAP, 'Duty'] += temp_set.loc[temp_set['Terminal Gap'] < MAX_TERMINAL_GAP, 'Terminal Gap']
    
    y = time.time()
    exe_generateTempSet += (y - x)
    # if len(temp_set) < 2 : print(f"Size of tempset == {len(temp_set)}")
    return temp_set

In [226]:
# df = pd.DataFrame()
# df['first'] = [1, 2, 3]
# df['second'] = [4, 5, 6]
# df['result'] = 100 + df['first'] + df['second']

# df

#### Pop Tempset 
- This function pops the currently visited leg from the corresponding tempset, then the tempset will always contain the possible legs from a given leg that satisfies the criteria needed

In [227]:
def popTempSet(temp_set) -> pd.DataFrame:
    global exe_popTempSet
    x = time.time()

    temp_set.drop(0, inplace=True)
    # print("popTempSet")
    # display(temp_set)
    temp_set.reset_index(inplace=True)
    temp_set.drop('index',axis= 1, inplace=True)

    y = time.time()
    exe_popTempSet += (y - x)
    return temp_set

#### Display Trip
- Returns the trip once the stack is satisfying all the criteria

In [228]:
def displayTrip(stack):
    global trips_count
    frame = pd.DataFrame()
    for x in stack:
        frame = pd.concat([frame, (x['current_leg'].to_frame()).T], ignore_index=True)
    frame['Terminal Gap'] = frame['Terminal Gap'].shift(-1)

    #Calculating the steering duty 
    duty = secToTime(frame['Duty'].iloc[len(frame) - 1])
    spread_over = secToTime((stack[-1]['current_leg'])['Arrival Time act'] - (stack[0]['current_leg'])['Departure Time'])

    frame = frame.drop('Duty', axis=1)

    trips_count += 1
    return [frame, duty, spread_over]

def seconds_to_time(df, columns):
    df[columns] = df[columns].apply(lambda x: pd.to_datetime(x, unit='s').dt.strftime('%H:%M:%S'))

In [229]:
# check_df = pd.DataFrame(
#     {'Sl No.': [1, 124, 313, 641, 336, 695],
#      'Departure Time': [13200, 13800, 18300, 22500, 29400, 36300],
#      'Departure Place': ['PSL', 'KLKV', 'TVM', 'KNVLA', 'MC', 'KLKV'],
#      'Route of Operation': ['NH',
#                             'NH',
#                             'NH-UDA',
#                             'UDA',
#                             'NH',
#                             'PVR-VZM-BYPASS-TVM-NH-KLKV'],
#      'Arrival Place': ['KLKV', 'TVM', 'KNVLA', 'MC', 'KLKV', 'PSL'],
#      'Arrival Time act': [13500, 17700, 21900, 28800, 36000, 48900],
#      'KM': [3.5, 33.7, 32.0, 39.0, 40.0, 81.5],
#      'Running Time': [300, 3900, 3600, 6300, 6600, 12600],
#      'Terminal Gap': [300, 600, 600, 600, 300, None]}
# )

#### Remove Legs
- Once a leg is taken for a trip , it should be removed so that it will not be considered for the next round of iterations

In [230]:
def removeLegs(trip) -> None:
    global success
    for i in range(len(trip)):
        if trip.iloc[i]['Departure Place'] == START_PLACE:
            # remove from both df and start_legs 
            df.drop((df[df['Sl No.'] == trip.iloc[i]['Sl No.']]).index, axis= 0, inplace=True)
            start_legs.drop((start_legs[start_legs['Sl No.'] == trip.iloc[i]['Sl No.']]).index, axis= 0, inplace=True)
            df.reset_index(drop=True, inplace=True)
            start_legs.reset_index(drop=True, inplace=True)
            success += 1
        else:
            # remove only from df 
            df.drop((df[df['Sl No.'] == trip.iloc[i]['Sl No.']]).index, axis= 0, inplace=True)
            df.reset_index(drop=True, inplace=True)

#### Backtracking

In [231]:
def backtrack(stack):
    #  If temp_set is empty , it means that we cannot go to any other places from the 
    # last leg , so we can pop the last leg in the stack  
    stack.pop()
    # After popping stack top , there are also chances that the temp_set of top elements 
    # in the stack may be empty, so those ones also should be popped out, because we cannot 
    # goto anywhere else from there  
    while(stack[-1]['temp_set'].empty) :
            stack.pop()
    stack[-1]['current_leg'] = stack[-1]['temp_set'].iloc[0]
    stack[-1]['temp_set'] = popTempSet(stack[-1]['temp_set'])

### ALGORITHM

In [232]:
# Decorators 
def exception_handler(func):
    def wrapper(stack):
        try:
            return func(stack)
        except Exception as e:
            # removeLegs(start_leg)
            start_legs.drop(0, axis=0, inplace=True)
            start_legs.reset_index(drop=True, inplace=True)
            print(f"Error occured = {e}")
            return False
    return wrapper

In [233]:
# ALGORITHM
@exception_handler
def generateTrip(stack):
    # Making the break flag False initially 
    # SHOULD BE CONSIDERED GLOBALLY 
    IS_BREAK = False
    spread_over = 0
    
    while len(stack) > 0 : 
        temp_set = generateTempSet(stack[-1]['current_leg'])
        if temp_set.empty :
            # EXCEPTION CASES CAN BE HANDLED HERE , MEANS WE CAN CHECK WHETHER THE 
            # STACK GETS EMPTY ON BACKTRACKING TO AVOID OUT OF BOUND 
            backtrack(stack)
            # After backtracking a new leg is replaced on the top , so we can just continue
            continue
        stack.append({"current_leg": temp_set.iloc[0], "temp_set": popTempSet(temp_set)})
        spread_over = (stack[-1]['current_leg'])['Arrival Time act'] - (stack[0]['current_leg'])['Departure Time']
        
        if (stack[-1]['current_leg'])['Duty'] > MAX_DUTY or spread_over > MAX_SPREAD_OVER:
            backtrack(stack)
        else:
            if (top_leg:=stack[-1]['current_leg'])['Arrival Place'] == START_PLACE and top_leg['Duty'] > MIN_DUTY:
                break
    return True

### MAIN PART

In [234]:

def main():
    # generateTrip(start_legs.iloc[0])
    while(not start_legs.empty):
        # Initializing stack with start leg . stack contain the legs in the trip 
        stack = [{"current_leg": start_legs.iloc[0], "temp_set": pd.DataFrame()}]
        status = generateTrip(stack)
        if status == True:
            result = displayTrip(stack)
            removeLegs(result[0])
            display(result[0])
            print("Steering Duty = ", result[1]) 
            print("Spread Over = ", result[2])
        # else means got exception 
        else:
            continue
     
    print(f"Success legs = {success} ..... Missing {104 - success} routes  ")
    print(f"NUMBER OF TRIPS = {trips_count}")

In [235]:
# MAIN
x = time.time()
if __name__ == "__main__":
    main()
y = time.time()

print(f"Time = {y - x}")
print(f"Time taken by tempset = {exe_generateTempSet}")
print(f"Time taken by popTempSet = {exe_popTempSet}")

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,13200,PSL,NH,KLKV,13500,3.5,300,300
1,124,13800,KLKV,NH,TVM,17700,33.7,3900,600
2,313,18300,TVM,NH-UDA,KNVLA,21900,32.0,3600,600
3,641,22500,KNVLA,UDA,MC,28800,39.0,6300,600
4,341,29400,MC,PTM,NTA,33000,27.7,3600,600
5,200,33600,NTA,NH,TVM,36600,20.7,3000,300
6,376,36900,TVM,NH,KLKV,41400,33.7,4500,300
7,66,41700,KLKV,NH,PSL,42300,3.5,600,None

Steering Duty =  08:05:00
Spread Over =  08:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,15,15600,PSL,NH,KLKV,15900,3.5,300,300
1,650,16200,KLKV,PVR-VZM-BYPASS,TVM,23400,45.0,7200,900
2,648,24300,TVM,NTA-MJ,KRKM,30300,34.0,6000,600
3,646,30900,KRKM,MJ-NTA,MC,36900,41.0,6000,900
4,380,37800,MC,NH,KLKV,43800,40.0,6000,600
5,521,44400,KLKV,KRKM,VLRD,46800,17.0,2400,600
6,564,47400,VLRD,KRKM,PSL,49800,17.0,2400,None

Steering Duty =  09:00:00
Spread Over =  09:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,4,16200,PSL,NH,KLKV,16800,3.5,600,600
1,129,17400,KLKV,NH,TVM,21300,33.7,3900,600
2,317,21900,TVM,NH,KLKV,26400,33.7,4500,600
3,163,27000,KLKV,NH,TVM,31800,33.7,4800,600
4,355,32400,TVM,NH,NTA,35400,20.7,3000,600
5,208,36000,NTA,NH,TVM,39000,20.7,3000,1200
6,395,40200,TVM,NH,KLKV,45600,33.7,5400,300
7,68,45900,KLKV,NH,PSL,46500,3.5,600,None

Steering Duty =  08:05:00
Spread Over =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,645,18000,PSL,KRKM-MJ,TVM,23700,39.0,5700,900
1,322,24600,TVM,NH,KLKV,29400,33.7,4800,300
2,625,29700,KLKV,KRKM-PDTM,KTDA,34500,32.0,4800,600
3,629,35100,KTDA,PDTM-KRKM,KLKV,39900,32.0,4800,300
4,525,40200,KLKV,KRKM,VLRD,42600,17.0,2400,600
5,577,43200,VLRD,KRKM-KLKV,PSL,46800,20.5,3600,None

Steering Duty =  07:45:00
Spread Over =  08:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,693,18000,PSL,MKD-KLD-PLKDA-NTA-TVM-MC-SKRM-CHPY,PCD,27900,66.5,9900,1800
1,724,29700,PCD,KTNI-KDPM-TVM-NTA,KLKV,38100,53.0,8400,300
2,653,38400,KLKV,PVR-VZM-BYPASS,TVM,45000,45.0,6600,600
3,470,45600,TVM,NH,KLKV,50400,33.7,4800,600
4,81,51000,KLKV,NH,PSL,51600,3.5,600,None

Steering Duty =  08:50:00
Spread Over =  09:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,6,18300,PSL,NH,KLKV,18900,3.5,600,300
1,132,19200,KLKV,NH,TVM,24000,33.7,4800,600
2,323,24600,TVM,NH,NTA,27600,20.7,3000,300
3,167,27900,NTA,PTM,MC,32100,27.7,4200,600
4,356,32700,MC,PTM,NTA,36900,27.7,4200,600
5,212,37500,NTA,PTM,MC,41700,27.7,4200,300
6,432,42000,MC,NH,KLKV,48600,40.0,6600,300
7,88,48900,KLKV,NH,PSL,49500,3.5,600,None

Steering Duty =  08:40:00
Spread Over =  08:40:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,17,18600,PSL,NH,KLKV,18900,3.5,300,300
1,651,19200,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,27600,55.0,8400,600
2,333,28200,MC,NH,KLKV,34800,40.0,6600,600
3,206,35400,KLKV,NH,TVM,40200,33.7,4800,600
4,398,40800,TVM,NH,KLKV,45600,33.7,4800,600
5,77,46200,KLKV,NH,PSL,46800,3.5,600,1200
6,61,48000,PSL,NH,KLKV,48600,3.5,600,600
7,73,49200,KLKV,NH,PSL,49800,3.5,600,None

Steering Duty =  08:20:00
Spread Over =  08:40:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,623,18600,PSL,KRKM-MYL-KTDA,TVM,27000,57.0,8400,600
1,673,27600,TVM,MYL-KTDA,KLKV,35400,57.0,7800,600
2,514,36000,KLKV,KRKM,VLRD,38400,17.0,2400,1500
3,561,39900,VLRD,KRKM,KLKV,42300,17.0,2400,600
4,519,42900,KLKV,KRKM,VLRD,45300,17.0,2400,600
5,563,45900,VLRD,KRKM-KLKV,PSL,49200,20.5,3300,None

Steering Duty =  08:05:00
Spread Over =  08:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,7,18900,PSL,NH,KLKV,19500,3.5,600,300
1,135,19800,KLKV,NH,MC,25800,40.0,6000,600
2,327,26400,MC,NH,KLKV,33600,40.0,7200,300
3,586,33900,KLKV,PKDA-AVPM,NTA,38400,30.0,4500,300
4,215,38700,NTA,NH,TVM,41700,20.7,3000,300
5,400,42000,TVM,NH,KLKV,46800,33.7,4800,300
6,69,47100,KLKV,NH,PSL,47700,3.5,600,None

Steering Duty =  08:00:00
Spread Over =  08:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,8,19200,PSL,NH,KLKV,19800,3.5,600,600
1,137,20400,KLKV,NH,TVM,25200,33.7,4800,300
2,584,25500,TVM,DVPM-ALMP,KLKV,31200,38.5,5700,1200
3,511,32400,KLKV,KRKM,VLRD,34800,17.0,2400,600
4,556,35400,VLRD,KRKM,KLKV,37800,17.0,2400,600
5,180,38400,KLKV,NH,MC,44400,40.0,6000,600
6,347,45000,MC,NH,KLKV,51000,40.0,6000,300
7,91,51300,KLKV,NH,PSL,51900,3.5,600,None

Steering Duty =  08:45:00
Spread Over =  09:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,619,19200,PSL,KULPM,URB,20700,9.0,1500,600
1,620,21300,URB,KLPM-KLKV-NH,MC,28200,48.0,6900,600
2,338,28800,MC,PTM,NTA,33000,27.7,4200,300
3,199,33300,NTA,PTM,MC,37500,27.7,4200,900
4,386,38400,MC,NH,KLKV,45000,40.0,6600,300
5,72,45300,KLKV,NH,PSL,45900,3.5,600,None

Steering Duty =  07:10:00
Spread Over =  07:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,138,19200,PSL,ALMP-DVPM,TVM,24900,38.5,5700,300
1,663,25200,TVM,AVPM-PKDA,KLKV,33000,50.0,7800,600
2,652,33600,KLKV,PVR-VZM-BYPASS,TVM,40800,45.0,7200,1500
3,381,42300,TVM,NH,KLKV,46500,33.7,4200,300
4,70,46800,KLKV,NH,PSL,47400,3.5,600,None

Steering Duty =  07:25:00
Spread Over =  07:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,502,19800,PSL,KLKV-KRKM,VLRD,22800,20.5,3000,600
1,543,23400,VLRD,KRKM,KLKV,25800,17.0,2400,600
2,506,26400,KLKV,KRKM,VLRD,29400,17.0,3000,1800
3,550,31200,VLRD,KRKM,KLKV,33600,17.0,2400,600
4,513,34200,KLKV,KRKM,VLRD,36600,17.0,2400,600
5,557,37200,VLRD,KRKM,KLKV,39600,17.0,2400,900
6,678,40500,KLKV,PVR-VZM-TVM-NH-KLKV,PSL,53100,81.5,12600,None

Steering Duty =  08:30:00
Spread Over =  09:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,598,19800,PSL,AYRA,CHVLA,20700,6.0,900,600
1,594,21300,CHVLA,AYRA,TVM,26700,37.0,5400,300
2,330,27000,TVM,NH,NTA,30000,20.7,3000,300
3,183,30300,NTA,KNMLA,MC,35100,29.0,4800,600
4,367,35700,MC,KNMLA,NTA,40500,29.5,4800,300
5,221,40800,NTA,NH,TVM,43800,20.7,3000,600
6,609,44400,TVM,CVR,KLKV,49800,35.7,5400,300
7,87,50100,KLKV,NH,PSL,50700,3.5,600,None

Steering Duty =  08:35:00
Spread Over =  08:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,585,19800,PSL,AVPM,MC,28800,58.0,9000,600
1,336,29400,MC,NH,KLKV,36000,40.0,6600,300
2,695,36300,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,48900,81.5,12600,None

Steering Duty =  08:05:00
Spread Over =  08:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,13,19800,PSL,NH,KLKV,20400,3.5,600,1200
1,140,21600,KLKV,NH,MC,27600,40.0,6000,600
2,657,28200,MC,KNMLA-VZM-PVR,KLKV,36600,55.0,8400,300
3,201,36900,KLKV,NH,TVM,41700,33.7,4800,900
4,371,42600,TVM,NH,KLKV,47400,33.7,4800,300
5,74,47700,KLKV,NH,PSL,48000,3.5,300,None

Steering Duty =  07:15:00
Spread Over =  07:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,9,19800,PSL,NH,KLKV,20400,3.5,600,1800
1,144,22200,KLKV,NH,MC,28200,40.0,6000,1500
2,343,29700,MC,NH,KLKV,35400,40.0,5700,1200
3,211,36600,KLKV,NH,TVM,41400,33.7,4800,2400
4,660,43800,TVM,VZM-PVR,KLKV,51000,45.0,7200,300
5,532,51300,KLKV,KRKM,VLRD,54000,17.0,2700,600
6,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:35:00
Spread Over =  10:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,679,20400,PSL,KLKV-PVR-VZM-BYPASS,TVM,28200,48.5,7800,600
1,680,28800,TVM,NH,KLKV,33900,33.7,5100,600
2,193,34500,KLKV,NH,MC,40500,40.0,6000,600
3,397,41100,MC,NH-KLKV,PSL,47700,43.5,6600,None

Steering Duty =  07:35:00
Spread Over =  07:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,11,20700,PSL,NH,KLKV,21300,3.5,600,900
1,503,22200,KLKV,KRKM,VLRD,24600,17.0,2400,600
2,544,25200,VLRD,KRKM,KLKV,27600,17.0,2400,600
3,507,28200,KLKV,KRKM,VLRD,30600,17.0,2400,1800
4,551,32400,VLRD,KRKM,KLKV,34800,17.0,2400,600
5,512,35400,KLKV,KRKM,VLRD,37800,17.0,2400,600
6,558,38400,VLRD,KRKM,KLKV,40800,17.0,2400,600
7,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
8,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
9,524,47100,KLKV,KRKM,VLRD,49500,17.0,2400,600
10,568,50100,VLRD,KRKM,KLKV,52500,17.0,2400,300
11,78,52800,KLKV,NH,PSL,53400,3.5,600,None

Steering Duty =  08:20:00
Spread Over =  09:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,12,20700,PSL,NH,KLKV,21300,3.5,600,1800
1,147,23100,KLKV,NH,MC,28800,40.0,5700,1500
2,351,30300,MC,NH,KLKV,36300,40.0,6000,600
3,517,36900,KLKV,KRKM,VLRD,39300,17.0,2400,1500
4,560,40800,VLRD,KRKM,KLKV,43200,17.0,2400,300
5,67,43500,KLKV,NH,PSL,44100,3.5,600,600
6,43,44700,PSL,NH,KLKV,45300,3.5,600,900
7,523,46200,KLKV,KRKM,VLRD,48600,17.0,2400,600
8,567,49200,VLRD,KRKM,KLKV,51600,17.0,2400,900
9,89,52500,KLKV,NH,PSL,52800,3.5,300,2400
10,65,55200,PSL,NH,KLKV,55800,3.5,600,1200
11,534,57000,KLKV,KRKM,VLRD,59400,17.0,2400,600
12,581,60000,VLRD,KRKM-KLKV,PSL,63000,20.5,3000,None

Steering Duty =  08:55:00
Spread Over =  11:45:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,14,21000,PSL,NH,KLKV,21600,3.5,600,2400
1,151,24000,KLKV,NH,TVM,28800,33.7,4800,600
2,342,29400,TVM,NH,NTA,32400,20.7,3000,600
3,197,33000,NTA,NH,TVM,36000,20.7,3000,300
4,697,36300,TVM,VZM-PVR,KLKV,42900,45.0,6600,1500
5,520,44400,KLKV,KRKM,VLRD,46800,17.0,2400,600
6,565,47400,VLRD,KRKM-KLKV,PSL,50400,20.5,3000,None

Steering Duty =  07:05:00
Spread Over =  08:10:00
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,18,21960,PSL,NH,KLKV,22560,3.5,600,1440
1,504,24000,KLKV,KRKM,VLRD,26400,17.0,2400,900
2,546,27300,VLRD,KRKM,KLKV,29700,17.0,2400,300
3,160,30000,KLKV,NH,TVM,34800,33.7,4800,1500
4,372,36300,TVM,NH,NTA,39600,20.7,3300,2400
5,223,42000,NTA,NH,TVM,45000,20.7,3000,600
6,409,45600,TVM,NH,NTA,48600,20.7,3000,1500
7,244,50100,NTA,PTM,MC,54300,27.7,4200,300
8,390,54600,MC,NH,KLKV,60600,40.0,6000,600
9,80,61200,KLKV,NH,PSL,61800,3.5,600,None

Steering Duty =  08:55:00
Spread Over =  11:04:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,16,22200,PSL,NH,KLKV,22800,3.5,600,1800
1,127,24600,KLKV,NH,TVM,29400,33.7,4800,600
2,320,30000,TVM,NH,NTA,32700,20.7,2700,2100
3,203,34800,NTA,NH,TVM,37800,20.7,3000,1200
4,391,39000,TVM,NH,NTA,42000,20.7,3000,600
5,225,42600,NTA,PTM,MC,46800,27.7,4200,1500
6,416,48300,MC,NH,KLKV,54300,40.0,6000,1500
7,533,55800,KLKV,KRKM,VLRD,58200,17.0,2400,600
8,574,58800,VLRD,KRKM,KLKV,61200,17.0,2400,300
9,96,61500,KLKV,NH,PSL,61800,3.5,300,None

Steering Duty =  08:45:00
Spread Over =  11:00:00
Error occured = list index out of range
Error occured = '[0] not found in axis'
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,22,22800,PSL,NH,KLKV,23400,3.5,600,1800
1,505,25200,KLKV,KRKM,VLRD,27600,17.0,2400,1800
2,548,29400,VLRD,KRKM,KLKV,31800,17.0,2400,900
3,603,32700,KLKV,NH,TVM,38400,33.7,5700,1200
4,392,39600,TVM,NH,NTA,42600,20.7,3000,1800
5,230,44400,NTA,PTM,MC,48600,27.7,4200,600
6,418,49200,MC,PTM,NTA,53400,27.7,4200,900
7,257,54300,NTA,NH,TVM,57300,20.7,3000,300
8,467,57600,TVM,NH,KLKV,62400,33.7,4800,600
9,75,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  11:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,20,22800,PSL,NH,KLKV,23100,3.5,300,300
1,633,23400,KLKV,PLKDA-PZKNU,VLKA,25200,13.0,1800,600
2,637,25800,VLKA,PLKDA,KLKV,27600,13.0,1800,600
3,170,28200,KLKV,NH-TVM-VZD-VLBLM,EF,34800,43.0,6600,600
4,377,35400,EF,NH,KLKV,40500,33.7,5100,900
5,220,41400,KLKV,NH,TVM,46200,33.7,4800,600
6,410,46800,TVM,NH-KLKV,PSL,52200,37.2,5400,None

Steering Duty =  07:55:00
Spread Over =  08:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,10,23400,PSL,NH,KLKV,24000,3.5,600,1200
1,157,25200,KLKV,NH,MC,31200,40.0,6000,600
2,352,31800,MC,PTM,NTA,36000,27.7,4200,1800
3,213,37800,NTA,NH,TVM,40800,20.7,3000,2400
4,457,43200,TVM,NH,KLKV,48000,33.7,4800,300
5,681,48300,KLKV,NH,TVM,53400,33.7,5100,600
6,344,54000,TVM,NH,KLKV,58800,33.7,4800,300
7,82,59100,KLKV,NH,PSL,59700,3.5,600,None

Steering Duty =  08:35:00
Spread Over =  10:05:00
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,28,24360,PSL,NH,KLKV,24960,3.5,600,2640
1,165,27600,KLKV,NH,MC,33600,40.0,6000,300
2,361,33900,MC,PTM,NTA,38100,27.7,4200,900
3,589,39000,NTA,AVPM-PKDA,KLKV,43500,30.0,4500,600
4,587,44100,KLKV,PKDA-AVPM,NTA,48600,30.0,4500,1800
5,245,50400,NTA,NH,TVM,53400,20.7,3000,600
6,683,54000,TVM,VZM-PVR-KLKV,PSL,61800,48.5,7800,None

Steering Duty =  08:55:00
Spread Over =  10:24:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,30,24840,PSL,NH,KLKV,25440,3.5,600,2160
1,634,27600,KLKV,PLKDA-PZKNU,VLKA,29400,13.0,1800,600
2,638,30000,VLKA,PLKDA,KLKV,32100,13.0,2100,900
3,670,33000,KLKV,ALMP-DVPM,TVM,39000,38.5,6000,1500
4,396,40500,TVM,NH,NTA,43500,20.7,3000,1500
5,231,45000,NTA,NH,TVM,48000,20.7,3000,300
6,337,48300,TVM,NH,KLKV,52800,33.7,4500,300
7,263,53100,KLKV,NH,TVM,57900,33.7,4800,900
8,707,58800,TVM,NH-KLKV,PSL,64200,37.2,5400,None

Steering Duty =  09:00:00
Spread Over =  10:56:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,602,24900,PSL,CHVLA-NR-CVR,TVM,30600,38.0,5700,600
1,350,31200,TVM,NH,NTA,34200,20.7,3000,300
2,125,34500,NTA,NH,TVM,37200,20.7,2700,600
3,316,37800,TVM,NH,KLKV,42300,33.7,4500,300
4,229,42600,KLKV,NH,TVM,47400,33.7,4800,600
5,460,48000,TVM,NH,KLKV,52800,33.7,4800,300
6,92,53100,KLKV,NH,PSL,53700,3.5,600,None

Steering Duty =  08:00:00
Spread Over =  08:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,32,25200,PSL,NH,KLKV,25800,3.5,600,2400
1,666,28200,KLKV,PKM-NTA-TVM-PTM,MC,34800,42.0,6600,1800
2,374,36600,MC,NH,KLKV,42000,40.0,5400,2400
3,727,44400,KLKV,NH,PSL,45000,3.5,600,900
4,5,45900,PSL,NH,KLKV,46500,3.5,600,300
5,689,46800,KLKV,PVR-VZM-TVM-NH-KLKV,PSL,59700,81.5,12900,None

Steering Duty =  07:30:00
Spread Over =  09:35:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,33,25800,PSL,NH,KLKV,26400,3.5,600,2400
1,174,28800,KLKV,NH,MC,36000,40.0,7200,2100
2,382,38100,MC,PTM,NTA,42300,27.7,4200,900
3,226,43200,NTA,NH,TVM,46200,20.7,3000,1200
4,414,47400,TVM,NH,KLKV,52200,33.7,4800,300
5,270,52500,KLKV,NH,TVM,57000,33.7,4500,300
6,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
7,94,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  08:40:00
Spread Over =  10:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,35,26400,PSL,NH,KLKV,27000,3.5,600,2100
1,176,29100,KLKV,NH,TVM,35100,33.7,6000,300
2,349,35400,TVM,NH,KLKV,40200,33.7,4800,1200
3,644,41400,KLKV,PVR-VZM-BYPASS,TVM,49200,45.0,7800,2400
4,425,51600,TVM,NH,KLKV,57600,33.7,6000,300
5,539,57900,KLKV,KRKM,VLRD,60300,17.0,2400,600
6,554,60900,VLRD,KRKM-KLKV,PSL,63900,20.5,3000,None

Steering Duty =  08:50:00
Spread Over =  10:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,708,26400,PSL,KLKV-MVKM-KRKM-DVPM,TVM,34200,53.0,7800,600
1,709,34800,TVM,NH,KLKV,39900,33.7,5100,900
2,156,40800,KLKV,NH,TVM,45300,33.7,4500,300
3,659,45600,TVM,VZM-PVR,KLKV,52200,45.0,6600,600
4,79,52800,KLKV,NH,PSL,53400,3.5,600,None

Steering Duty =  07:15:00
Spread Over =  07:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,36,26700,PSL,NH,KLKV,27300,3.5,600,1200
1,169,28500,KLKV,NH,CSTN,35400,42.0,6900,600
2,369,36000,CSTN,NH,KLKV,43200,42.0,7200,600
3,643,43800,KLKV,PVR-VZM-BYPASS,TVM,51000,45.0,7200,2100
4,427,53100,TVM,NH,KLKV,57900,33.7,4800,300
5,636,58200,KLKV,PZKNU,VLKA,60000,13.0,1800,600
6,640,60600,VLKA,PZKNU,PSL,62100,11.0,1500,None

Steering Duty =  08:55:00
Spread Over =  09:50:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,711,27900,PSL,KLKV-NLMD-KTKM-NRNI-KRKM-DVPM-NH,TVM,35100,47.0,7200,600
1,365,35700,TVM,NH,KLKV,39900,33.7,4200,1800
2,626,41700,KLKV,KRKM-PDTM,KTDA,47100,32.0,5400,600
3,630,47700,KTDA,PDTM,KRKM,51300,25.0,3600,600
4,627,51900,KRKM,PDTM,KTDA,55500,25.0,3600,600
5,631,56100,KTDA,PDTM,PSL,60900,32.0,4800,None

Steering Duty =  08:40:00
Spread Over =  09:10:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,617,27900,PSL,AYRA,KROD,28800,7.0,900,600
1,618,29400,KROD,AYRA-PSL,MC,36600,45.0,7200,2400
2,389,39000,MC,NH,KLKV,45000,40.0,6000,2400
3,71,47400,KLKV,NH,PSL,47700,3.5,300,900
4,38,48600,PSL,NH,KLKV,49200,3.5,600,300
5,243,49500,KLKV,NH,MC,55500,40.0,6000,600
6,613,56100,MC,UDA,KDGRA,62100,38.0,6000,600
7,642,62700,KDGRA,UDA,PSL,63900,8.0,1200,None

Steering Duty =  08:25:00
Spread Over =  10:00:00
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,40,32700,PSL,NH,KLKV,33300,3.5,600,1200
1,202,34500,KLKV,NH-TVM,MC,40500,40.0,6000,900
2,399,41400,MC,NH,KLKV,47400,40.0,6000,600
3,271,48000,KLKV,NH,MC,54000,40.0,6000,1200
4,435,55200,MC,NH,KLKV,61800,40.0,6600,1200
5,536,63000,KLKV,KRKM,VLRD,65400,17.0,2400,600
6,579,66000,VLRD,KRKM,PSL,68400,17.0,2400,None

Steering Duty =  08:40:00
Spread Over =  09:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,47,34800,PSL,NH,KLKV,35400,3.5,600,600
1,209,36000,KLKV,NH,MC,42000,40.0,6000,300
2,401,42300,MC,PTM,NTA,46500,27.7,4200,300
3,236,46800,NTA,NH,TVM,49800,20.7,3000,1500
4,424,51300,TVM,NH,KLKV,56100,33.7,4800,300
5,204,56400,KLKV,NH,TVM,61800,33.7,5400,600
6,387,62400,TVM,NH,KLKV,67200,33.7,4800,300
7,76,67500,KLKV,NH,PSL,68100,3.5,600,None

Steering Duty =  08:50:00
Spread Over =  09:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,48,35400,PSL,NH,KLKV,36000,3.5,600,600
1,665,36600,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,44700,55.0,8100,1500
2,411,46200,MC,NH,KLKV,52200,40.0,6000,900
3,528,53100,KLKV,KRKM,VLRD,55500,17.0,2400,1800
4,573,57300,VLRD,KRKM,KLKV,59700,17.0,2400,600
5,535,60300,KLKV,KRKM,VLRD,62700,17.0,2400,600
6,578,63300,VLRD,KRKM,KLKV,65700,17.0,2400,600
7,538,66300,KLKV,KRKM,VLRD,68700,17.0,2400,600
8,580,69300,VLRD,KRKM,PSL,71700,17.0,2400,None

Steering Duty =  08:55:00
Spread Over =  10:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,49,36000,PSL,NH,KLKV,36600,3.5,600,600
1,194,37200,KLKV,NH,TVM,42000,33.7,4800,300
2,402,42300,TVM,NH,NTA,45300,20.7,3000,300
3,233,45600,NTA,NH,TVM,48600,20.7,3000,600
4,419,49200,TVM,NH,NTA,52200,20.7,3000,300
5,250,52500,NTA,NH,TVM,55500,20.7,3000,1200
6,437,56700,TVM,NH,KLKV,61500,33.7,4800,300
7,703,61800,KLKV,PZKNU-PZKA-KJKM-PVR-URB,KLKV,67800,39.0,6000,300
8,90,68100,KLKV,NH,PSL,68700,3.5,600,None

Steering Duty =  08:45:00
Spread Over =  09:05:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,29,36600,PSL,NH,KLKV,37200,3.5,600,300
1,214,37500,KLKV,NH,MC,43800,40.0,6300,300
2,406,44100,MC,PTM,NTA,48300,27.7,4200,1200
3,242,49500,NTA,NH,TVM,52500,20.7,3000,600
4,428,53100,TVM,NH,NTA,56100,20.7,3000,1200
5,266,57300,NTA,NH,TVM,60300,20.7,3000,900
6,454,61200,TVM,NH,KLKV,66000,33.7,4800,300
7,100,66300,KLKV,NH,PSL,66900,3.5,600,None

Steering Duty =  07:30:00
Spread Over =  08:25:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,50,36600,PSL,NH,KLKV,37200,3.5,600,600
1,654,37800,KLKV,PVR-VZM-BYPASS,TVM,45000,45.0,7200,2400
2,667,47400,TVM,VZM-PVR,KLKV,54600,45.0,7200,300
3,258,54900,KLKV,NH-TVM,EF,60000,33.7,5100,600
4,370,60600,EF,NH-TVM-VZD-VLBLM,KLKV,67800,43.0,7200,300
5,103,68100,KLKV,NH,PSL,68400,3.5,300,None

Steering Duty =  08:10:00
Spread Over =  08:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,51,37200,PSL,NH,KLKV,37800,3.5,600,900
1,725,38700,KLKV,KRKM,VLRD,41400,17.0,2700,600
2,562,42000,VLRD,KRKM,KLKV,44400,17.0,2400,600
3,522,45000,KLKV,KRKM,VLRD,47400,17.0,2400,600
4,566,48000,VLRD,KRKM,PSL,50400,17.0,2400,600
5,60,51000,PSL,NH,KLKV,51600,3.5,600,1800
6,150,53400,KLKV,NH,TVM,58200,33.7,4800,1800
7,445,60000,TVM,NH,NTA,63000,20.7,3000,600
8,287,63600,NTA,NH,TVM,66600,20.7,3000,1200
9,473,67800,TVM,NH,KLKV,73200,33.7,5400,600
10,107,73800,KLKV,NH,PSL,74400,3.5,600,None

Steering Duty =  08:45:00
Spread Over =  10:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,52,38400,PSL,NH,KLKV,39000,3.5,600,600
1,656,39600,KLKV,PVR-VZM-BYPASS,TVM,46800,45.0,7200,900
2,415,47700,TVM,NH,NTA,50700,20.7,3000,1200
3,249,51900,NTA,PTM,MC,56100,27.7,4200,600
4,438,56700,MC,PTM,NTA,60900,27.7,4200,300
5,279,61200,NTA,PTM,MC,65400,27.7,4200,900
6,472,66300,MC,NH,KLKV,72600,40.0,6300,600
7,114,73200,KLKV,NH,PSL,73800,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  09:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,672,39000,PSL,KLKV-NTA,MC,46200,43.5,7200,600
1,658,46800,MC,VZM-PVR,KLKV,54600,52.0,7800,1200
2,154,55800,KLKV,PSL-KRKM-DVPM,MC,62400,44.0,6600,600
3,334,63000,MC,NH-KLKV,PSL,69300,43.5,6300,None

Steering Duty =  08:05:00
Spread Over =  08:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,19,39600,PSL,NH,KLKV,40200,3.5,600,1500
1,153,41700,KLKV,NH,TVM,46500,33.7,4800,300
2,412,46800,TVM,NH,NTA,49800,20.7,3000,600
3,590,50400,NTA,AVPM-PKDA,KLKV,54900,30.0,4500,600
4,265,55500,KLKV,NH,TVM,60600,33.7,5100,300
5,451,60900,TVM,NH,NTA,63900,20.7,3000,300
6,289,64200,NTA,NH,TVM,67200,20.7,3000,2400
7,479,69600,TVM,NH,KLKV,75000,33.7,5400,300
8,116,75300,KLKV,NH,PSL,75900,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  10:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,46,40200,PSL,NH,KLKV,40800,3.5,600,900
1,222,41700,KLKV,NH,MC,47700,40.0,6000,1200
2,417,48900,MC,NH,KLKV,55200,40.0,6300,300
3,588,55500,KLKV,PKDA-AVPM,NTA,60000,30.0,4500,600
4,277,60600,NTA,NH,TVM,63600,20.7,3000,300
5,315,63900,TVM,NH,KLKV,68700,33.7,4800,300
6,541,69000,KLKV,KRKM,VLRD,71400,17.0,2400,1800
7,582,73200,VLRD,KRKM,KLKV,75600,17.0,2400,300
8,115,75900,KLKV,NH,PSL,76500,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  10:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,684,41100,PSL,KLKV-PVR-VZM,TVM,48600,48.5,7500,600
1,685,49200,TVM,VZM-PVR,KLKV,55800,45.0,6600,1200
2,691,57000,KLKV,NH,TVM,62400,33.7,5400,600
3,662,63000,TVM,VZM-PVR,KLKV,70200,45.0,7200,300
4,95,70500,KLKV,NH,PSL,71100,3.5,600,None

Steering Duty =  08:00:00
Spread Over =  08:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,700,41400,PSL,KLKV-KRKM,VLRD,44700,20.5,3300,600
1,701,45300,VLRD,KRKM,KLKV,47700,17.0,2400,300
2,93,48000,KLKV,NH,PSL,48600,3.5,600,600
3,57,49200,PSL,NH,KLKV,49800,3.5,600,600
4,246,50400,KLKV,NH,MC,56400,40.0,6000,2400
5,443,58800,MC,NH,KLKV,64800,40.0,6000,300
6,294,65100,KLKV,NH,TVM,69900,33.7,4800,600
7,485,70500,TVM,NH,KLKV,75300,33.7,4800,300
8,113,75600,KLKV,NH,PSL,76200,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  09:40:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,690,42600,PSL,KLKV-PVR-VZM-BYPASS-TVM-NH,KLKV,55200,81.5,12600,600
1,605,55800,KLKV,NH,NTA,57300,13.0,1500,300
2,267,57600,NTA,PTM,MC,61800,27.7,4200,600
3,455,62400,MC,NH,KLKV,68400,40.0,6000,600
4,111,69000,KLKV,NH,PSL,69600,3.5,600,None

Steering Duty =  07:30:00
Spread Over =  07:30:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,712,45600,PSL,KRKM-MJ-TVM,MC,52800,46.0,7200,600
1,429,53400,MC,NH,KLKV,59400,40.0,6000,600
2,131,60000,KLKV,NH,MC,66000,40.0,6000,1200
3,719,67200,MC,TVM-NTA-KLKV,PSL,73500,43.5,6300,None

Steering Duty =  07:25:00
Spread Over =  07:45:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,716,46200,PSL,KLKV-PVR-VZM-BYPASS,TVM,53700,48.5,7500,300
1,431,54000,TVM,NH,NTA,57000,20.7,3000,1200
2,269,58200,NTA,NH,TVM,61200,20.7,3000,300
3,722,61500,TVM,NH-KLKV-PVR-VZM-BYPASS,TVM,73800,88.7,12300,600
4,723,74400,TVM,NH-KLKV,PSL,79800,37.2,5400,None

Steering Duty =  09:00:00
Spread Over =  09:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,53,46800,PSL,NH,KLKV,47400,3.5,600,300
1,239,47700,KLKV,NH,TVM,52500,33.7,4800,1800
2,717,54300,TVM,NH,KLKV,58800,33.7,4500,300
3,310,59100,KLKV,NH,TVM,64500,33.7,5400,600
4,465,65100,TVM,NH,NTA,68100,20.7,3000,300
5,299,68400,NTA,PTM,MC,72600,27.7,4200,1800
6,489,74400,MC,NH,KLKV,80400,40.0,6000,600
7,108,81000,KLKV,NH,PSL,81300,3.5,300,None

Steering Duty =  08:35:00
Spread Over =  09:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,44,46800,PSL,NH,KLKV,47400,3.5,600,900
1,86,48300,KLKV,NH,PSL,48900,3.5,600,600
2,56,49500,PSL,NH,KLKV,50100,3.5,600,1200
3,248,51300,KLKV,NH,TVM,56100,33.7,4800,600
4,439,56700,TVM,NH,NTA,59700,20.7,3000,300
5,276,60000,NTA,NH,TVM,63000,20.7,3000,600
6,459,63600,TVM,NH,NTA,66600,20.7,3000,1200
7,298,67800,NTA,NH,TVM,70800,20.7,3000,300
8,715,71100,TVM,NH-KLKV,PSL,76500,37.2,5400,None

Steering Duty =  07:20:00
Spread Over =  08:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,54,47700,PSL,NH,KLKV,48300,3.5,600,300
1,241,48600,KLKV,NH,MC,54600,40.0,6000,2400
2,440,57000,MC,NH,KLKV,63300,40.0,6300,300
3,288,63600,KLKV,NH,TVM,69000,33.7,5400,1500
4,482,70500,TVM,NH,NTA,73500,20.7,3000,300
5,308,73800,NTA,NH,TVM,76800,20.7,3000,2400
6,481,79200,TVM,NH,KLKV,83400,33.7,4200,1500
7,123,84900,KLKV,NH,PSL,85500,3.5,600,None

Steering Duty =  08:20:00
Spread Over =  10:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,146,48000,PSL,KLKV-NH,TVM,54000,37.2,6000,600
1,332,54600,TVM,NH,KLKV,59400,33.7,4800,300
2,274,59700,KLKV,NH,MC,65700,40.0,6000,300
3,468,66000,MC,PTM,NTA,70200,27.7,4200,1200
4,305,71400,NTA,NH,TVM,74400,20.7,3000,600
5,492,75000,TVM,NH,KLKV,79800,33.7,4800,600
6,112,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  08:50:00
Spread Over =  09:10:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,59,48600,PSL,NH,KLKV,48900,3.5,300,2400
1,85,51300,KLKV,NH,PSL,51600,3.5,300,300
2,64,51900,PSL,NH,KLKV,52200,3.5,300,1500
3,254,53700,KLKV,NH,CSTN,61200,42.0,7500,600
4,453,61800,CSTN,NH,KLKV,69600,42.0,7800,600
5,309,70200,KLKV,NH,TVM,75000,33.7,4800,600
6,498,75600,TVM,NH,KLKV,80100,33.7,4500,300
7,120,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  07:55:00
Spread Over =  09:00:00
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range
Success legs = 66 ..... Missing 38 routes
NUMBER OF TRIPS = 57
Time = 20.42844843864441
Time taken by tempset = 13.572267770767212
Time taken by popTempSet = 5.3411266803741455

In [236]:
len(df)

306